body {
		margin: 0;
		}
	
		#container {width:1536px;
        margin:0 auto;
        padding:0;
        background-image: url(kreska.png);
		/*border-radius:4px 4px 4px 4px;*/
		border-spacing: 0px;
		border:1px solid yellow;
		}
		
		#logo{
		width:100%;
		padding-top:80px;
		padding-bottom:30px;
        /**/
		background-color: #000060;
		height: 100px;
		margin:0 auto;
		align: center;
		font-family: txt;

		color: yellow;
		font-size: 4em;
		
		box-shadow:0 0 0 0px;
		}

	/*	#menu{
        color:#00F;
        background-color:#FFF;
        background-image:none;
      }
	  */
.option
{
	
	text-align: center;
	padding: 5px;
	color: yellow;
	float: left;
	width: 220px;
	/*height: 40px;*/
	font-size: 18px;
	border-right: 1px solid yellow;
	font-family: txt;
	background-image:linear-gradient( #000060 10%, #0000A0 90%);*/
}



.option:hover {
	background-image: none; /*konieczne jest rêczne kasowanie gradientu t³a*/
	background-color: white;
	color: yellow;
}
		
      /* wygl¹d elementu - ol */
      #menu {
        
        margin:0 auto;
        padding:0;
		/*display: inline-block;*/
      }

 
/*( #240060 10%, #0000A0 90%) */
      /* wygl¹d elementów - a - po najechaniu kursorem myszki na element - li */
      #menu > li:hover > a {
        color:#00F;
        background-color:#FFF;
        background-image:none;
      }